<p>Hi <%= username %>!</p>
<p>Please specify your tender API key (copied from the Tender site) to provide access to Tender.</p>

<form action="/appsecute/after-auth/result" method="post">
  <input name="transaction_id" type="hidden" value="<%= transactionID %>">
  <div>
  Tender API Key: <input name="apikey" type="text" value="<%= apikey %>">
  <br>
  <input name="allow" type="submit" value="Allow" id="allow">
  <input name="cancel" type="submit" value="Deny" id="deny">
  </div>
</form>
